* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #151515;
    font-size: 1rem;
    font-family: "museo-sans", sans-serif;
  }

  button {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "museo-sans", sans-serif;
    font-size: 1rem;
  }
  
  body {
    overflow: hidden;
    background-color: #fcfcfc;
  }
  
  
  //main
  
  .main_transporter {
    width: 200%;
    display: flex;
    transform: translateX(-50%);
    transition: transform 0.8s cubic-bezier(0.7, 0, 0.3, 1);;
  }

  .main_transporter.all_projects {
    transform: none;
  }
  
  main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  //Clients
  #clients {
    width: 100vw;
    flex: 1;
  }
  
  
  
  // Showcase
  
  #showcase {
   flex: 1;
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  #left,
  #right {
    flex: 1;
  }
  
  #left {
    & .transporter {
      transform: translateY(var(--trans-val));
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: transform var(--trans-speed) cubic-bezier(0.7, 0, 0.3, 1);
    }
    & .container {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      scroll-snap-align: start;
      -webkit-transform:translate3d(0,0,0);
      transform:translate3d(0,0,0);
    }
  
    & .content {
      max-width: 50ch;
    }
  
    & h2 {
      font-family: 'Libre Baskerville', serif;
      color: #151515;
      font-size: 1.25rem;
      margin-bottom: 0.3rem;
      
    }
    & h3 {
      font-family: 'Libre Baskerville', serif;
      font-size: 3rem;
      margin-bottom: 0.5rem;
      color: #151515;
      line-height: 3rem;
      font-weight: 700;
    }
  
    & p {
      font-family: "museo-sans", sans-serif;
      font-weight: 300;
      color: #151515;
      font-size: 1rem;
      line-height: 1.6rem;
    }
  }
  
  #right {
    height: 100vh;
    width: 50vw;
    overflow: hidden;
  
    & .transporter {
      display: flex;
      width: var(--trans-width);
      height: 100%;
      transform: translateX(var(--trans-val));
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: transform var(--trans-speed) 0.2s cubic-bezier(0.7, 0, 0.3, 1);
  
  
      & div {
        flex: 1;
        height: 100%;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
    }
  
    & .one {
      background-image: url('/imgs/2.jpg');
      background-size: cover;
      background-position: center;
    }
  
    & .two {
      background-image: url('/imgs/3.jpg');
      background-size: cover;
      background-position: center;
    }
  
    & .three {
      background-image: url('/imgs/1.jpg');
      background-size: cover;
      background-position: center;
    }

    & .four {
      background-image: url('/imgs/festival.jpeg');
      background-size: cover;
      background-position: center;
    }

    & .five {
      background-image: url('/imgs/kaffe.jpg');
      background-size: cover;
      background-position: center;
    }
  }
  
  @media only screen and (max-width: 990px) {
    #showcase {
      flex-direction: column;
    }
  
    #left {
      flex: 0.4;
      height: 40vh;
  
      & .container {
        height: 40vh;
      }
  
      & p {
        display: none;
      }
    }
  
    #right {
      flex: 0.6;
      height: 60vh;
      width: 100vw;
    }
  }

  @media only screen and (min-width: 1600px) {
    #left {

      & .content {
        max-width: 25vw;
      }

      & h2 {
        font-size: 1.25vw;
        margin-bottom: 0.3vw;
        
      }
      & h3 {
        font-size: 3vw;
        margin-bottom: 0.5vw;
        line-height: 3vw;
      }
    
      & p {
        font-size: 1vw;
        line-height: 1.6vw;
      }
    }

  }
  
  
  
  //header
  header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
  
    & ul {
      display: flex;
      margin: 20px;
      align-items: center;
    }
  
    & li:not(:first-child) {
      margin-left: 10px;
    }
  
    & .arrow {
      position: relative;
      display: block;
      width: 0px;
      height: 1px;
      background-color: #151515;
      margin-left: calc(1rem + 6px);
      transition: width 0.2s 0.2s;
    }
  
    & .arrow::after, .arrow::before {
      content: "";
      position: absolute;
      top: 0;
      left: -6px;
      width: 0px;
      height: inherit;
      background-color: inherit;
      transition: width 0s 0.2s, transform 0.2s;
    }
  
    & .arrow::before {
      transform-origin: bottom left;
  
    }
  
    & .arrow::after{
      transform-origin: top left;
    }
  }
  
  header ul:hover {
    & .arrow {
      transition: width 0.2s;
      width: 25px;
      animation-name: kf_bounce;
      animation-duration: 0.3s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-delay: 0.4s;
    }
  
    & .arrow::after, .arrow::before {
      transition: width 0s 0.2s, transform 0.2s 0.2s;
      width: 10px;
    }
  
    & .arrow::before {
      transform: rotate(-40deg);
  
    }
  
    & .arrow::after{
      transform: rotate(40deg);
    }
  }
  
  @keyframes kf_bounce {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(3px);
  }
  }
  
  @media only screen and (max-width: 990px) {
    header {
      background-color: transparent;
    }
  }
  
  
  
  
  
  //footer 
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    // border-top: 1px solid #151515;
    width: 100%;
    // background-color: #fcfcfc;
  }
  
  footer h3 {
    font-family: "museo-sans", sans-serif;
    color: #7a7a7a;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.8rem 0 0 2rem;
  }
  
  footer ul {
    display: flex;
    background-color: #fcfcfc;
  }
  
  footer a, footer span {
    margin: 0.8rem 0 0.8rem 2rem;
    display: block;
    font-family: "museo-sans", sans-serif;
    // color: #999999;
    color: #7a7a7a;
    font-size: 0.9rem;
  }
  
  @media only screen and (max-width: 990px) {
  
    footer h3 {
      width: 100%;
      background-color: #fcfcfc;
      padding: 0.3rem 0 0.3rem 2rem;
      position: relative;
    }
  
    footer h3::after {
      content: "▸";
      font-size: inherit;
      margin-left: 1rem;
      position: absolute;
      transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
      transition-delay: 0.4s;
    }
  
    footer.open h3::after {
      transform: rotate(90deg);
      transition-delay: 0s;
    }
  
    footer ul {
      flex-direction: column;
      height: 0;
      transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
      transition-delay: 0.4s;
    }
  
    footer.open ul {
      height: 140px;
      transition-delay: 0s;
    }
  
    footer li {
      opacity: 0;
      transform: translateY(10px);
      transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);;
  
      &:nth-of-type(1) {
        transition-delay: 0.4s;
      }
  
      &:nth-of-type(2) {
        transition-delay: 0.3s;
      }
  
      &:nth-of-type(3) {
        transition-delay: 0.2s;
      }
  
      &:nth-of-type(4) {
        transition-delay: 0.1s;
      }
    }
  
    footer.open li {
      transform: none;
      opacity: 1;
  
      &:nth-of-type(1) {
        transition-delay: 0.1s;
      }
  
      &:nth-of-type(2) {
        transition-delay: 0.2s;
      }
  
      &:nth-of-type(3) {
        transition-delay: 0.3s;
      }
  
      &:nth-of-type(4) {
        transition-delay: 0.4s;
      }
    }
  
    footer li:not(:first-child) a {
      margin: 0rem 0 0.8rem 2rem;
    }
  
    footer span {
      display: none;
    }
  }
  